doctype html
html(lang="en")
	head
		block style
			link(rel="stylesheet" href="css/style.css")


		block scripts
			script(src="https://code.jquery.com/jquery-3.2.1.min.js")


		title #{site_name}


	body

		block header
			#header_div
				h1 Planning Poker

		block content
