#card {
	width: 100px;
	height: 156px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #000000;
	background-color: #abcdef;
	border-radius: 25px;
	float: left;
}

#my_cards {
	width: 500px;
}

#card_display {
	width: 110px;
	height: 166px;
	padding: 10px;
	border: 2px solid #000000;
	background-color: #aaaaaa;
	border-radius: 25px;
}