#card {
	width: 100px;
	height: 156px;
	padding: 10px;
	margin: 10px;
	border: 1px solid #000000;
	background-color: #abcdef;
	border-radius: 25px;
	float: left;
}

#my_cards {
	width: 500px;
}

#card_display {
	width: 110px;
	height: 166px;
	padding: 10px;
	border: 2px solid #000000;
	background-color: #aaaaaa;
	border-radius: 25px;
}

#poker_page {
	display: table;
}

#main_pane {
	display: table-cell;
	width: 100%;
}

#side_pane {
	background-color: #dddddd;
	min-width: 280px;
	display: table-cell;
	border: 2px solid #555555;
	padding-left: 15px;
}